%table.table.table-hover
  %thead
    %tr
      %th{width: '20%'}= t('tienda.registries.name')
      %th{width: '40%'}= t('tienda.registries.slug')
      %th{width: '25%'}= t('tienda.registries.active')
      %th{width: '10%'}= t('tienda.delete')
  %tbody
    - if registries.empty?
      %tr.empty
        %td{colspan: 4}= t('tienda.registries.no_registries')
    - else
      - for registry in registries
        %tr
          %td= link_to registry.name, [:edit, registry]
          %td= registry.name
          - if registry.active
            %td
              = t('tienda.registries.active_yes')
          - else
            %td
              No
          %td= link_to "X", registry, method: :delete, data: {confirm: t('tienda.registries.delete_prompt')}